@import './global.css';
@tailwind components;

@layer components {
    #navbar {
        --nav-ce: cubic-bezier(0.5, 1, 0.5, 1);
        --before: 0;
        --pseudos-transition: all 0.5s 0.85s var(--nav-ce);

        &[data-menuopen='true'] {
            --before: 1.15;
            --pseudos-transition: all 0.5s 0s var(--nav-ce);
        }

        &.tempered-bg,
        & .tempered-bg {
            @apply md:origin-left;
            &:before,
            &:after {
                @apply absoluteFull;
                content: '';
            }
            &:before {
                @apply origin-top bg-nav;
                opacity: var(--before);
                transform: scaleY(var(--before));
                transition: var(--pseudos-transition);
            }
            &:after {
                content: '';
                background: linear-gradient(
                    to bottom,
                    rgb(var(--nav-bg) / 0.8) 0%,
                    rgb(var(--nav-bg) / 0.75) 10%,
                    rgb(var(--nav-bg) / 0.75) 15%,
                    rgb(var(--nav-bg) / 0.5) 30%,
                    rgb(var(--nav-bg) / 0.45) 35%,
                    rgb(var(--nav-bg) / 0.4) 40%,
                    rgb(var(--nav-bg) / 0.35) 47.5%,
                    rgb(var(--nav-bg) / 0.3) 52.5%,
                    rgb(var(--nav-bg) / 0.2) 60%,
                    rgb(var(--nav-bg) / 0.1) 70%,
                    rgb(var(--nav-bg) / 0.05) 77.5%,
                    transparent 85%,
                    transparent 100%
                );
                @apply backdrop-blur-sm;
            }
        }
    }

    .content-innerHTML {
        @apply w-full px-2;

        & > p {
            @apply cursor-text select-text whitespace-pre-line indent-4 md:indent-8 !important;
        }

        &.about {
            @apply pb-14;
            & > h3 {
                @apply text-center md:text-start;
            }
        }

        &.experience {
        }

        &.projects {
            & > h3 {
                @apply mx-auto w-3/4 text-start font-robotoMono text-28pt italic text-purple-dark underline;
            }
            & > p:first-of-type {
                @apply mt-4;
            }
            &:before {
                content: '';
                @apply aspect-[5/3.05] w-[calc(57.5%+8px)] lg:w-[calc(50%+8px)];
                /* used 3.1 instead of 3 because of image shadow */
                -webkit-shape-outside: inset(0 0 0 0);
                shape-outside: inset(0 0 0 0);
            }
            &[data-even='true']:before {
                @apply float-right translate-x-9 lg:translate-x-10;
            }
            &[data-even='false']:before {
                @apply float-left -translate-x-9 lg:-translate-x-8;
            }
        }
    }

    /* Intro Graphic */

    .orbitAnimation {
        @apply absolute top-1/2 left-1/2 rounded-[50%] border-[1px] border-white/20;
        animation-name: orbit;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-style: preserve-3d;
    }

    .position {
        @apply absolute top-1/2 mt-[-1em] ml-[-1em] h-[2em] w-[2em];
        animation-name: invert;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        transform-style: preserve-3d;
    }

    .planet {
        @apply absolute top-1/2 left-1/2 ml-[-0.5em] mt-[-0.5em] h-[1em] w-[1em] rounded-[50%] bg-black;
        transform-style: preserve-3d;
    }

    @keyframes orbit {
        0% {
            transform: rotateZ(0deg);
        }

        100% {
            transform: rotateZ(-360deg);
        }
    }

    @keyframes suborbit {
        0% {
            transform: rotateX(90deg) rotateZ(0deg);
        }

        100% {
            transform: rotateX(90deg) rotateZ(-360deg);
        }
    }

    @keyframes invert {
        0% {
            transform: rotateX(-90deg) rotateY(360deg) rotateZ(0deg);
        }

        100% {
            transform: rotateX(-90deg) rotateY(0deg) rotateZ(0deg);
        }
    }

    .curve-outer {
        &:before {
            content: '';
            @apply absolute inset-6 rounded-full;
        }
        &:before {
            box-shadow: inset 0 20px 30px theme(colors.slate.neon/0.5),
                inset 10px 0px 30px theme(colors.slate.10/0.5);
        }
    }

    /* LINKS */
    .pg-link {
        @apply relative cursor-pointer tracking-wide text-slate-neon duration-250 ease-tween hover:mr-3;
        &:after {
            content: '\000BB';
            @apply absolute right-0 text-1.5x leading-[0.85] duration-250 ease-tween;
            clip-path: inset(0 0 0 100%);
        }
        &:hover:after {
            @apply -right-4;
            clip-path: inset(0 0 0 0);
        }
    }

    /* colored bullets */
    .listed-item:before {
        content: '\2022';
        @apply inline-block w-[0.75em] font-bold text-slate-neon;
    }
    /** Scroll Down Arrow **/
    .arrow {
        @apply aspect-square cursor-pointer rounded-md rounded-tr border-r-[6px] border-t-[6px];
        transition: colors 0.25s ease-in;
    }
    .chevron {
        @apply arrow relative;

        &:after {
            content: '';
            @apply absolute top-1.5 right-1.5 -bottom-3 -left-3 rounded-md rounded-tr border-t-[6px] border-r-[6px] brightness-75 ease-tween;
            transition-duration: 0.5s;
            transition-property: transform, filter;
        }
        &:hover:after {
            @apply translate-x-0.5 -translate-y-0.5 brightness-100;
        }
    }

    .styled-underline {
        @apply absolute bottom-0 h-0.5 blur-[0.5px];
        background-color: #fffa;
        border-radius: 40% 40% 0 0;

        &:after {
            content: '';
            @apply absolute bottom-[-2.5px] left-0 right-0 h-1 bg-gradient blur-[4px] contrast-200;
            background-size: 500%;
            background-position: 33%;
            border-radius: 0 0 40% 40%;
        }

        &.underline-darker {
            @apply bottom-1 bg-slate -hue-rotate-15;
            &:after {
                @apply bottom-[-4px] h-0.5 blur-[3px];
            }
        }
    }

    /** Styled Link **/
    .styled_link {
        position: relative;
        color: theme(colors.grey.70);
        cursor: pointer;
        filter: blur(0px) saturate(1) contrast(1);
        transform: translateY(0px);
        transition: all 0.3s 0s ease-in-out;

        &:before,
        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            background: theme(backgroundImage.gradient);
            background-size: 300%;
            background-position: 0%;
            border-radius: 10%;
            opacity: 0;
            transform-origin: top;
            transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
            @apply motion-reduce:scale-y-100;
        }
        &:before {
            bottom: 0px;
            height: 2px;
            filter: blur(3px) saturate(2) contrast(2);
        }
        &:after {
            bottom: 3px;
            height: 1px;
            filter: blur(0px) saturate(1) contrast(0.5);
        }

        &:hover {
            color: white;
            transform: translateY(-2.5px);
            transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
            @apply text-white motion-reduce:translate-y-0;

            &:before {
                opacity: 1;
                transform-origin: top;
                transition: opacity 0.6s ease-in-out;
            }
            &:after {
                opacity: 1;
                transform-origin: top;
                transition: opacity 0.3s 0.15s ease-in-out;
            }
        }

        &.clicked {
            --ease: cubic-bezier(0.5, 0.5, 0.5, 1);

            filter: blur(3px) saturate(2) contrast(2) !important;
            transform: scale(0.95) !important;
            transition: filter 0.25s var(--ease), transform 0.25s var(--ease) !important;

            &:before,
            &:after {
                transform: scale(0);
                transition: transform 0.25s var(--ease) !important;
            }
        }
    }
}

/* 
    Styled Btn Hexagons 
    .styled-btn-shadow {
        --s: 30px;
        --m: 0px;
        --cont-t: 1;
    }
    .styled-btn-shadow:hover {
        --s: 30px; 
        --m: 10px;
        --cont-t: 1.5;
    }
    .hexagons {
        --cb-ease: cubic-bezier(0.64, 0.57, 0.67, 1.53);

        & > div {
            transform: scale(var(--cont-t));
            transform-origin: top;
            transition: 0.5s var(--ease);
        }
        & .container {
            & div {
                width: var(--s);
                margin: var(--m);
                height: calc(var(--s) * 1.1547);
                clip-path: polygon(
                    0% 25%,
                    0% 75%,
                    50% 100%,
                    100% 75%,
                    100% 25%,
                    50% 0%
                );
                margin-bottom: calc(var(--m) - var(--s) * 0.2885);
                transition: 1s var(--cb-ease);
            }

            --f: calc(1.732 * var(--s) + 4 * var(--m) - 1px);

            &:before {
                content: '';
                width: calc(var(--s) / 2 + var(--m));
                float: left;
                height: 120%;
                shape-outside: repeating-linear-gradient(
                    #0000 0 calc(var(--f) - 3px),
                    #000 0 var(--f)
                );
                transition: 1s var(--cb-ease);
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 1;
            box-shadow: inset 0 0 1rem 1rem #0002;
        }
    }
*/
