@import './global.css';
@tailwind components;

@layer components {
    .styled-content {
        @apply rounded-lg p-4 shadow-[inset_0_0_0_2px_#fff3];
    }

    .styled-image {
        @apply overflow-hidden shadow-md shadow-black/50;
    }

    [data-styled-btn] {
        @apply transition-opacity duration-250 ease-tween hover:opacity-100 !important;

        & > .decoration {
            @apply scale-y-100 transition-transform;
        }
        & > .content {
            @apply transition-[clip-path] delay-[250ms] duration-500 ease-tween;
            clip-path: inset(15% 0 0% 0);
        }

        &.clicked {
            @apply pointer-events-none scale-95 text-slate-neon opacity-100 transition-[transform,color] duration-150 ease-in !important;

            & > .decoration {
                @apply scale-y-0;
            }
            & > .content {
                clip-path: inset(15% 0 100% 0);
            }
        }
    }

    .use-scrollbar {
        -ms-overflow-style: scrollbar; /*IE,Edge*/
        scrollbar-width: 100vw !important; /*FireFox*/
        scrollbar-color: theme(colors.white) theme(colors.slate.DEFAULT) !important;

        &::-webkit-scrollbar {
            @apply block h-5 w-auto !important;
        }
        &::-webkit-scrollbar-track {
            @apply bg-slate !important;
        }
        &::-webkit-scrollbar-thumb {
            @apply cursor-pointer bg-white !important;
            border-radius: 15px / 18px;
            border: solid 3px theme(colors.slate.DEFAULT);
        }
    }
}
