@import './global.css';
@tailwind components;

@layer components {
    #navbar {
        --nav-ce: cubic-bezier(0.5, 1, 0.5, 1);
        --before: 0;
        --pseudos-transition: all 0.5s 0.85s var(--nav-ce);

        & a#logo:after {
            background: linear-gradient(
                45deg,
                var(--theme-teal),
                var(--theme-slate),
                var(--theme-purple),
                var(--theme-slate),
                var(--theme-teal)
            );

            @apply absolute inset-0 -z-20 origin-top translate-x-[-0.05px] translate-y-[-5%] scale-y-[1.1] animate-[bgRotate_10s_linear_infinite] bg-300% bg-clip-text text-center font-bold tracking-xl text-transparent blur-[1px] contrast-200 motion-reduce:animate-none;
        }

        &[data-menuopen='true'] {
            --before: 1.15;
            --pseudos-transition: all 0.5s 0s var(--nav-ce);
        }

        &.tempered-bg,
        & .tempered-bg {
            @apply md:origin-left;
            &:before,
            &:after {
                @apply absolute inset-0 -z-20;
                content: '';
            }
            &:before {
                @apply origin-top bg-nav;
                opacity: var(--before);
                transform: scaleY(var(--before));
                transition: var(--pseudos-transition);
            }
            &:after {
                content: '';
                background: linear-gradient(
                    to bottom,
                    rgb(var(--nav-bg) / 0.8) 0%,
                    rgb(var(--nav-bg) / 0.75) 10%,
                    rgb(var(--nav-bg) / 0.75) 15%,
                    rgb(var(--nav-bg) / 0.5) 30%,
                    rgb(var(--nav-bg) / 0.45) 35%,
                    rgb(var(--nav-bg) / 0.4) 40%,
                    rgb(var(--nav-bg) / 0.35) 47.5%,
                    rgb(var(--nav-bg) / 0.3) 52.5%,
                    rgb(var(--nav-bg) / 0.2) 60%,
                    rgb(var(--nav-bg) / 0.1) 70%,
                    rgb(var(--nav-bg) / 0.05) 77.5%,
                    transparent 85%,
                    transparent 100%
                );
                @apply backdrop-blur-sm;
            }
        }
    }
    .content-innerHTML {
        & > p {
            @apply mb-1 cursor-text select-text whitespace-pre-line indent-4 last-of-type:mb-0 !important;
        }
    }

    .socials-text-style {
        & > span {
            @apply relative;
        }
        & > span:after {
            content: '';
            @apply absolute -inset-x-0.5 -bottom-1 -z-20 h-[4px] origin-bottom-right scale-x-0  rounded-full bg-slate will-change-transform;
            transition: transform 0.25s linear;
        }
        &:hover > span:after {
            @apply origin-bottom-left scale-x-100;
        }
    }
    .listed-item:before {
        /* colored bullets @ JOBS */
        content: '\2022';
        @apply inline-block w-[0.75em] font-bold text-slate-neon;
    }
    .styled-underline {
        @apply absolute bottom-0 h-0.5 blur-[0.5px];
        background-color: #fffa;
        border-radius: 40% 40% 0 0;

        &:after {
            content: '';
            @apply absolute bottom-[-2.5px] left-0 right-0 h-1 bg-gradient blur-[4px] contrast-200;
            background-size: 500%;
            background-position: 33%;
            border-radius: 0 0 40% 40%;
        }

        &.underline-darker {
            @apply bottom-1 bg-slate -hue-rotate-15;
            &:after {
                @apply bottom-[-4px] h-0.5 blur-[3px];
            }
        }
    }
    .archiveIndicator-decoration {
        &:before,
        &:after {
            content: '';
            @apply absolute bottom-[0px] h-1/2 w-1/4 bg-transparent duration-350 ease-tween;
        }
        &:before {
            @apply left-[-25%] rounded-br-full;
            box-shadow: 20px 10px 0px 10px;
        }
        &:after {
            @apply right-[-25%] rounded-bl-full;
            box-shadow: -20px 10px 0px 10px;
        }
    }
}
