@import './components.css';
@tailwind utilities;
@tailwind base;

:root {
    /* 33 35 40 */
    --nav-rgb: 243 244 246; /* white */
    --menu-rgb: 243 244 246; /* grey-10 */

    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 32px;

    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
}

@layer base {
    html {
        @apply m-0 box-border w-full p-0;
        height: -webkit-fill-available;
    }
    body {
        @apply overflow-y-auto overflow-x-hidden;
        @apply relative m-0 w-screen whitespace-pre-line bg-white p-0;
        @apply font-raleway text-root leading-[1.4] text-black antialiased;
        height: -webkit-fill-available;
    }

    /* Heading Styles */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-normal leading-[1] -tracking-md;
    }
    h1 {
        @apply text-h1--min-lg lg:text-h1--lg-max whitespace-nowrap text-center font-montserrat uppercase text-white;
    }
    h2 {
        @apply relative text-center font-montserrat text-h2 uppercase tracking-md text-black;
    }
    h3 {
        @apply text-h3 font-medium uppercase tracking-lg text-slate max-lg:w-full max-lg:text-center;
    }
    h4 {
        @apply text-h4 font-medium tracking-normal;
    }
    h5 {
        @apply text-root;
    }

    /* Text Styles */
    p,
    li {
        @apply font-light;
    }
    strong {
        @apply mx-[1px] font-bold uppercase;
    }

    /* Selection Styles */
    html {
        & ::selection {
            @apply bg-slate-30 text-white;
        }
        -webkit-tap-highlight-color: transparent;
    }

    /* Scrollbar Styles */
    html {
        -ms-overflow-style: none; /*IE,Edge*/
        scrollbar-width: none; /*FireFox*/
    }
    ::-webkit-scrollbar {
        display: none; /*Chrome,Safari,Opera*/
    }
}

/* Override on Toast-Container Styles */
.Toastify__toast-container {
    @apply top-18  !important;

    & .Toastify__toast-icon {
        @apply absolute top-3.5 left-3.5 !important;
    }
    & .Toastify__close-button {
        @apply absolute top-2.5 right-3 !important;
    }
    & .Toastify__close-button > svg {
        @apply aspect-[14/16] h-[26px] w-auto !important;
    }
}
