@import './utilities.css';
@import './components.css';
@tailwind base;

:root {
    --nav-bg: 0 0 2;

    --background: 70 80 105;

    --text-color: #eee;
    --shadow-color: #000;

    --theme-slate: theme(colors.slate.DEFAULT);
    --theme-teal: theme(colors.teal.DEFAULT);
    --theme-purple: theme(colors.purple.DEFAULT);
}

@layer base {
    * {
        @apply box-border;
    }
    html {
        @apply snap-y snap-mandatory snap-normal;
        @apply whitespace-pre-line font-montserrat text-root text-grey-30 antialiased;
        word-spacing: 1px;
    }
    body {
        @apply m-0 h-screen w-screen overflow-x-hidden bg-black p-0;
    }
    h1 {
        @apply absolute h-px w-px overflow-hidden whitespace-nowrap;
        clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
        clip: rect(1px, 1px, 1px, 1px);
        clip-path: inset(0px 0px 99.9% 99.9%);
    }
    h2 {
        /* @apply bg-gradient-wave; */
        @apply font-montserrat text-heading-2 font-black uppercase leading-none tracking-4xl;
        -webkit-text-stroke: 1px white;
        -webkit-text-fill-color: transparent;
    }
    h3 {
        @apply font-raleway text-heading-3a font-semibold uppercase tracking-lg  text-white;
    }
    h4 {
        @apply text-heading-4;
        @apply leading-7 tracking-md text-grey-10;
    }
    h5 {
        @apply text-heading-5;
        @apply tracking-normal text-grey-10;
    }
    h6 {
        @apply text-heading-6;
    }
    p {
    }

    div[data-reading-section] {
        @apply text-slate;

        & h3 {
            @apply text-heading-3b text-slate !important;
        }
        & p {
            @apply text-black;
        }
        &#projects-section-content h3 {
            @apply text-center;
        }
        &#about-section-content,
        &#experience-section-content {
            & h3 {
                @apply max-md:text-center;
            }
        }
    }

    /* max-width: 768px -- page form style */
    input,
    textarea {
        @apply z-10 w-full rounded-md bg-white pl-[0.75em] leading-none text-black shadow-inset shadow-black/20 outline-none duration-250 ease-in invalid:bg-[#b5a5a5] focus:border-slate focus:bg-slate-10 focus:valid:bg-white invalid:focus:border-red/25;
        &:focus {
            @apply my-0;
        }
        &:focus + span.placeholder,
        &:not(:placeholder-shown) + span.placeholder {
            @apply translate-y-0 scale-[0.6];
        }

        &:valid:not(:placeholder-shown) + span.placeholder {
            @apply text-[#090];
        }
        &:focus:valid:not(:placeholder-shown) + span.placeholder {
            @apply text-grey;
        }
    }
    input {
        @apply h-[3em] pt-[0.75em];
    }
    input[data-invalid='true'] {
        & + span {
            @apply text-red;
        }
        &:focus + span {
            @apply text-slate-neon;
        }
    }

    textarea {
        @apply resize-none overflow-y-scroll pt-[1.5em];

        -ms-overflow-style: visible;
        scrollbar-width: block;
        &::-webkit-scrollbar {
            @apply block;
        }
    }

    * {
        /* Selection Colors */
        & ::selection {
            @apply bg-slate-40/50 text-white;
        }
        -webkit-tap-highlight-color: transparent;
        /* Hide Scroll Bar */
        /* IE , Edge */
        -ms-overflow-style: none;
        /* Firefox */
        scrollbar-width: none;
    }
    ::-webkit-scrollbar {
        @apply hidden;
        /* Chrome, Safari, and Opera */
    }

    ::placeholder {
        @apply px-4 text-center font-robotoMono font-thin;
    }
}
