@import './global.css';
@tailwind components;

/* STYLED INTRO  */
@layer components {
    .intro-content {
        @apply flex-col-center h-full w-full;
        @apply md:justify-start md:pt-[100px];
        & * {
            @apply text-center md:text-left;
        }
        & p {
            &:last-of-type {
                @apply max-w-[85%] py-4;
            }
        }
        & > div:last-child {
            @apply p-3 md:mx-auto;
        }
    }
}

/* ABOUT  */
@layer components {
    .about-card {
        @apply flex-col-center h-full w-full;
        @apply grid-cols-2 gap-3 md:grid;
    }
    .about {
        @apply overflow-y-scroll;
    }
    .about-content {
        @apply mt-10 grid grid-cols-8;
        & .left {
            @apply col-span-6;
        }
        & .right {
            @apply col-span-2;
            & .skills {
                @apply flex-col-center text-center;
                & p:first-child {
                    @apply font-robotoMono font-medium text-lightTeal;
                }
                & li {
                    @apply text-xs;
                    @apply flex-left my-2  rounded bg-eee/50 py-2 pl-1;
                    & p {
                        @apply pl-[5px] font-robotoMono text-xs font-normal italic text-neon;
                    }
                }
            }
        }
    }
}

/* SKILLS */
@layer components {
    .skills-card {
        @apply flex-col-center h-full w-full;
    }
    .skill {
        @apply w-full;
        & h3 {
            @apply styled-heading-2 pb-0 text-base;
        }
        & ul {
            @apply mx-auto grid h-full w-fit gap-x-4;
            @apply grid-cols-2;
            & li {
                @apply my-[1px] h-[2em] px-5 text-xs;
                @apply flex-left rounded bg-eee pl-2;
                & p {
                    @apply pl-2 font-robotoMono text-xs font-normal italic text-darkblack;
                }
            }
        }
    }
}

/* EXPERIENCE */
@layer components {
    .experience-card {
        @apply flex-col-center h-full w-full;
    }
    .experience {
        @apply mt-10;
    }
}
/* FEATURED */
@layer components {
    .featured-content {
        @apply flex-col-center h-full w-full;
    }
    .slideshow-wrap {
        @apply relative w-full cursor-grab overflow-hidden;
        @apply h-[500px] md:h-[490px] lg:h-[580px];
        & .slide {
            @apply absolute top-0 left-5 right-5 bottom-0 rounded bg-eee;
            &[data-slide='0'] {
                & h3 {
                    @apply text-teal;
                }
            }
            &[data-slide='1'] {
                & h3 {
                    @apply text-red;
                }
            }
            &[data-slide='2'] {
                & h3 {
                    @apply text-tan;
                }
            }
        }
    }
    .Indicators {
        @apply flex-center mt-1;
        & .Indicator-container {
            @apply cursor-pointer p-5;
            & .Indicator {
                @apply relative aspect-square h-3 rounded-full bg-darkblack;
                & .Indicator-highlight {
                    @apply absolute -top-1 -left-1 aspect-square h-5 rounded-full bg-neon/80;
                }
            }
        }
    }
    .featured-project {
        @apply before:shadow-elem-bef after:shadow-elem-aft;
        /*           @apply ts-project relative grid grid-cols-12 items-center;*/
        &:not(:last-of-type) {
            @apply mb-[30px] md:mb-[100px];
        }

        & .fp-img {
            @apply relative z-[1] h-full rounded-xl bg-white/10 opacity-20 md:z-[-1] md:rounded-md md:opacity-30;
            grid-area: 1 / 1 / -1 / -1;
            @apply md:col-start-5;
            & > * {
                @apply rounded-xl md:rounded-md;
            }
        }
        & .fp-content {
            @apply flex-col-top relative h-full py-6;
            @apply md:items-start md:py-10 lg:pb-16 lg:pt-12;
            grid-area: 1 / 1 / -1 / -1;
            @apply md:col-end-9;
            @apply lg:col-end-7;
            & h3 {
                @apply w-full text-center md:text-left;
            }
            & .fp-tech {
                @apply flex-evenly min-w-[80%] py-2 text-center text-xs italic  lg:text-sm;
                & p {
                    @apply w-full border-l-[1px] border-r-[1px] border-dashed border-teal px-3;
                }
            }
            & .fp-desc {
                @apply h-40 py-4 lg:h-48;
                & > div {
                    @apply relative m-auto mx-2 block h-auto w-auto rounded p-4 indent-6 text-xs tracking-normal;
                    box-shadow: 0px -2px 5px -2.5px theme(colors.grey);
                    @apply bg-theme-background/75 md:shadow-xl md:shadow-black/50;
                }
            }
            & .fp-link {
                @apply top-6 my-4 px-8 py-2 italic;
                @apply z-10;
            }
        }
    }
    /*
    .featured-project:nth-of-type(2n + 1) {
        & .fp-img {
            @apply md:col-start-1 md:col-end-9;
        }
        & .fp-content {
            @apply md:col-start-5 md:col-end-[-1];
            @apply lg:col-start-7 lg:col-end-[-1];
            @apply md:items-end;
            & h3 {
                @apply md:pr-4 md:text-right;
            }

            & .fp-link {
                @apply mt-0;
            }
        }
    }
    */
}

/* PROJECTS  */
@layer components {
    .projects-content {
        @apply flex-col-center h-full w-full;
        & h3 {
            @apply styled-heading-2;
        }
    }
    .projects-wrap {
        @apply flex-center relative h-full w-full;

        & .slider-wrap {
            @apply cursor-grab overflow-hidden;
            @apply rounded;

            & .slider {
                @apply flex-btw;

                & .slide-item {
                    @apply z-10 bg-eee;
                    @apply relative mx-[5vw] h-[500px] md:mx-auto md:h-[490px] lg:h-[580px];
                }
            }
        }
    }
    .project {
        @apply absolute top-0 left-0 w-full md:w-auto;
        @apply flex-col-left pointer-events-none relative rounded bg-eee p-6 text-white;
        @apply md:cursor-pointer;
        background: linear-gradient(
            to bottom left,
            rgba(69, 162, 158, 0.25),
            rgb(31, 40, 51)
        );
        & .gh-link {
            @apply absolute top-4 right-6;
        }
        & .pr-wrap {
            @apply w-full;

            & h4 {
                @apply border-b-2 border-lightgrey/75 pb-2 text-white;
            }
            & > div {
                @apply w-full;
                & .pr-tech {
                    @apply flex-left py-2 text-sm;
                    & p {
                        @apply border-l-[1px] border-r-[1px] border-dashed border-lightgrey/50 px-[15px];
                    }
                }
                & .pr-desc {
                    @apply py-2 text-left indent-5 text-sm;

                    & p {
                        @apply h-24 tracking-normal;
                        /* height = lineHeight(1.5em) x max lines(4) = 6em  */
                    }
                }
            }
        }
        & img {
            @apply opacity-10;
        }
    }
}
/* CONTACT  */
@layer components {
    .contact-content {
        @apply flex-col-center h-full w-full;

        & h3 {
            @apply styled-heading-2 text-xl;
        }
        & h2 {
            @apply flex-center w-full bg-gradient-to-br from-grey to-teal  bg-clip-text text-4xl text-transparent;
        }
    }
    .ct {
        @apply flex-col-btw w-full;
        @apply text-sm font-medium md:text-base lg:text-lg;
        & h4 {
            @apply py-4 text-center;
        }
    }
    .ct-content {
        @apply flex-center relative h-full w-full;
        & > div {
            @apply w-full text-center;

            & span {
                @apply relative inline-block;
                & .mailto {
                    @apply styled-link flex-center;
                    & *:not(span) {
                        @apply mx-[1px];
                    }
                }
            }
        }
    }
}
