@import './global.css';
@tailwind components;

/* STYLED INTRO  */
@layer components {
}

/* ABOUT  */
@layer components {
    #about-innerHTML {
        & > p {
            @apply flex-center pt-4 indent-2 md:pt-6 md:indent-4 md:text-base md:leading-7;
            &:first-of-type {
                @apply pt-0;
            }
        }
    }
}

/* FEATURED */
@layer components {
    .featured-content {
        @apply h-full w-full px-5 py-10;
    }
    .featured-sm {
        @apply flex-col-bottom w-full  px-5 py-10;
        @apply md:hidden;

        & .slide {
            &[data-slide='0'] {
                & h3 {
                    @apply text-teal;
                }
            }
            &[data-slide='1'] {
                & h3 {
                    @apply text-red;
                }
            }
            &[data-slide='2'] {
                & h3 {
                    @apply text-tan;
                }
            }
        }
    }

    .featured-sm .featured-project {
        @apply flex-col-top h-full overflow-hidden rounded bg-white/75  px-2;
        & .projectImg {
            @apply absolute top-0 left-0 right-0 bottom-0 h-[30%] bg-charcoal/50;
            & img {
                @apply rounded opacity-25;
            }
        }
        & .heading {
            @apply flex-center absolute top-0 left-0 z-[1] h-[30%]  w-full;
            & h3 {
                @apply flex-center w-full text-center font-bold;
            }
            & .tech {
                @apply hidden;
            }
        }
        & .tech {
            @apply flex-center absolute top-[30%] left-0 h-[10%] w-full text-center text-sm  italic;
            & p {
                @apply relative w-full whitespace-nowrap border-l-[2px] border-dotted border-teal px-3 text-teal;
                &:last-of-type {
                    @apply border-r-[2px];
                }
            }
        }
        & .description {
            @apply absolute top-[40%] left-0 h-[25%];
            @apply pointer-events-none  w-full rounded  p-3 text-center indent-6 text-sm tracking-normal text-darkblack;
        }
        & .links {
            @apply absolute top-[65%] left-0 h-[35%] w-full;
            @apply flex-col-btw z-10 pb-2;
            & a {
                @apply text-center;
                &:first-child {
                    @apply mx-auto mb-10  px-2 text-lg font-medium text-teal;
                }
                &:last-child {
                    @apply mb-6 p-3;
                }
            }
        }
    }
    .featured-md {
        @apply hidden w-full;
        @apply md:flex-col-center;
        & .featured-project {
            @apply relative my-[5vh] grid w-full overflow-hidden px-2;
            @apply grid-cols-12 grid-rows-5;
            @apply h-[490px] lg:h-[580px];
            background: linear-gradient(
                to bottom,
                theme(colors.white) 0%,
                rgba(255, 255, 255, 1) 25%,
                rgba(255, 255, 255, 0.25) 75%,
                transparent 100%
            );

            & > * {
                @apply h-full w-full;
            }
            & .projectImg {
                @apply relative;
                grid-area: 1/5/-1/-1;
                & img {
                    @apply z-[-1] rounded-md opacity-100;
                }
            }
            & .heading {
                @apply flex-col-left;
                grid-area: 1/1/1/-1;
                & h3 {
                    @apply font-semibold text-black;
                }
                & .tech {
                    @apply flex-left z-10;
                    & p {
                        @apply w-full whitespace-nowrap border-l-[2px] border-dotted border-teal px-6 text-center text-base italic text-teal;
                        &:last-of-type {
                            @apply border-r-[2px];
                        }
                    }
                }
            }
            & .tech {
                @apply hidden;
            }
            & .description {
                @apply flex-center w-full rounded  p-3 text-center indent-6 text-sm tracking-normal text-darkblack;
                grid-area: 2/1/4/7;
            }
            & .links {
                @apply flex-col-top z-10;
                grid-area: 4/1/-1/5;
                & a {
                    @apply mb-auto text-center;
                    &:first-child {
                        @apply text-lg font-medium italic text-teal;
                    }
                    &:last-child {
                        @apply p-3;
                    }
                }
            }
        }
        & .featured-project:nth-of-type(even) {
            & .projectImg {
                grid-area: 1/1/5/9;
            }
            & .heading {
                @apply flex-col-right;
                grid-area: 1/1/1/-1;
                & .tech {
                    @apply flex-right;
                }
            }
            & .description {
                grid-area: 2/7/4/-1;
            }
            & .links {
                grid-area: 4/9/-1/-1;
            }
        }
    }
}

/* CONTACT  */
@layer components {
    #contact {
        & h2 {
            @apply text-xl;
        }
        & h3 {
            @apply flex-center bg-gradient-to-br from-neon via-teal to-grey  bg-clip-text text-4xl font-bold tracking-wide text-transparent;
        }
    }

    .contact-content {
        @apply flex-col-center h-full w-full;
    }
    .ct {
        @apply flex-col-btw w-full;
        @apply text-base font-medium md:text-base lg:text-lg;
        & h4 {
            @apply py-4 text-center;
        }
    }
    .ct-content {
        @apply flex-center relative h-full w-full;
        & > div {
            @apply w-full text-center;

            & > span {
                @apply relative inline-block;
                & a {
                    @apply styled-link flex-center relative h-[1.5em]  font-semibold italic text-teal;
                    & > span {
                        @apply pb-[2px] pl-1 text-2xl leading-none;
                        @apply md:pb-[5px] md:text-3xl;
                    }
                }
            }
        }
    }
}
