@import './global.css';
@tailwind utilities;

@layer utilities {
    .bg-gradient-wave {
        background: linear-gradient(45deg, #8360c3, #45a29e, #8360c3);
        @apply animate-[bgRotate_10s_linear_infinite] bg-300% bg-clip-text text-transparent motion-reduce:animate-none;
    }
    .backdrop-blurred:after {
        content: '';
        @apply absolute inset-0 -z-10 bg-white/10 backdrop-blur-md duration-1000 ease-in-out;
    }

    /* Functional */
    .webkit-fill-available {
        height: 100vh;
        height: -webkit-fill-available;
    }
    .safe-area-padding {
        padding-bottom: 0px;
        padding-bottom: env(safe-area-inset-bottom);
    }
    .full {
        @apply h-full w-full;
    }
    .screen {
        @apply h-screen w-screen;
    }
    /* 3d Styling */
    .preserve-3d {
        transform-style: preserve-3d;
    }

    /* Flex Boxes */
    .absoluteFull {
        @apply absolute top-0 right-0 left-0 bottom-0;
    }
    .flex-center {
        @apply flex items-center justify-center;
    }
    .flex-top {
        @apply flex items-start justify-center;
    }
    .flex-bottom {
        @apply flex items-end justify-center;
    }
    .flex-left {
        @apply flex items-center justify-start;
    }
    .flex-right {
        @apply flex items-center justify-end;
    }
    .flex-btw {
        @apply flex items-center justify-between;
    }
    .flex-evenly {
        @apply flex items-center justify-evenly;
    }
    .flex-around {
        @apply flex items-center justify-around;
    }
    .flex-col-center {
        @apply flex flex-col items-center justify-center;
    }
    .flex-col-top {
        @apply flex flex-col items-center justify-start;
    }
    .flex-col-bottom {
        @apply flex flex-col items-center justify-end;
    }
    .flex-col-left {
        @apply flex flex-col items-start justify-center;
    }
    .flex-col-right {
        @apply flex flex-col items-end justify-center;
    }
    .flex-col-btw {
        @apply flex flex-col items-center justify-between;
    }
    .flex-col-evenly {
        @apply flex flex-col items-center justify-evenly;
    }
    .flex-col-around {
        @apply flex flex-col items-center justify-around;
    }
    .reverse-flex-col {
        @apply flex flex-col-reverse;
    }
}
